{% extends 'core/base.html' %}

{% block content %}
    <div class=" container mt-4">
      <h2 class="text-warning mb-5 border-bottom text-center">SERVICES</h2>

      <div class="row text-center text-white mb-4">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h4>SEO<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h4>Web Design<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h4>Web Development<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
      </div>

       <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h4>Android<h4>
            <p class="ss-color font-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color"></i>
            <h4>ios<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-color"></i>
            <h4>Advertising<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
      </div>

       <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
            <h4>Logo Design<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h4>Hosting<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
         <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-3 i-color"></i>
            <h4>Support<h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, neque.</p>
        </div>
      </div>

    </div>



{% endblock content %}
    
